.cart-widget {
    height: 100%;
    position: relative;
    margin: 0 30px 0 10px;
}

.cart-widget-icon {
    height: 30px;
    padding: 25px;
}

.product-amount-number-bubble {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 2px;
    background-color: rgb(227, 152, 12);
    color: black;
    font-weight: bold;
}

.product-amount-number-bubble-disabled{
    display: none;
}

@media screen and (max-width: 768px) {
    .cart-widget{
        margin: 0;
    }
    .cart-widget-icon {
        height: 70px;
    }
}
