.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: white;
}

.product img{
    width: 100%;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10px;
    margin: 20px;
}